
*.properties
*.xml
*.xml
*.xml
Software/SMV/nbproject/private/private.properties
Software/SMV/nbproject/private/private.xml
Software/SMV/nbproject/private/private.xml
/Software/SMV/nbproject/private/
/Software/SMV/build/
/Software/SMV/dist/
/Software/Software/SMV/build/
/Software/Software/SMV/dist/